 <!-- Slider (mobile) -->
 <div class="d-md-none img-cover" data-flickity='{"imagesLoaded": true, "wrapAround": true, "prevNextButtons": false, "pageDots": false}'>
    <div class="w-100">

      <!-- Image -->
      <img src="/img/covers/cover-12.jpg" alt="..." class="img-fluid">

    </div>
    <div class="w-100">

      <!-- Image -->
      <img src="/img/covers/cover-2.jpg" alt="..." class="img-fluid">

    </div>
  </div>

  <!-- Slider -->
  <div class="position-relative h-100 vw-50 d-none d-md-block" data-aos="fade-left">

    <!-- Slider -->
    <div class="flickity-button-bottom flickity-button-white h-100 w-100" data-flickity='{"imagesLoaded": true, "setGallerySize": false, "wrapAround": true, "pageDots": false}'>
      <div class="w-100 h-100 bg-cover" style="background-image: url(/img/carousel/1.jpg);"></div>
      <div class="w-100 h-100 bg-cover" style="background-image: url(/img/carousel/1.jpg);"></div>
    </div>

    <!-- Shape -->
    <div class="shape shape-start shape-fluid-y svg-shim text-white">
      {{> angles/angle-start}}
    </div>

  </div>